table.chessboard :is(td, th) {
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    vertical-align: center;
}

table.chessboard {
    border-collapse: collapse;
    margin: 1em auto;
}

table.chessboard > tbody > tr:first-child > td {
    border-top: medium solid black;
}

table.chessboard > tbody > tr:last-child > td {
    border-bottom: medium solid black;
}

table.chessboard > tbody td:first-of-type {
    border-left: medium solid black;
}

table.chessboard > tbody td:last-of-type {
    border-right: medium solid black;
}

table.chessboard th {
    font-weight: normal;
}

table.chessboard tbody > tr:nth-child(odd) > td:nth-of-type(even) {
    background-color: lightgray;
}

table.chessboard tbody > tr:nth-child(even) > td:nth-of-type(odd) {
    background-color: lightgray;
}

table.chessboard td.blackPawn::before {
    content: "\265f";
}

table.chessboard td.whitePawn::before {
    content: "\2659";
}

#currentSquare {
    font-size: small;
    text-align: center;
}